<%= form_for(Comment.new) do |f| %>

<div class="field">
  <%= f.label :title %><br>
  <%= f.text_field :title %>

  <%= f.label :comment %><br>
  <%= f.text_field :comment %>
</div>
<% end %>

  <!-- <div class="actions">
    <%= f.submit %>
  </div> -->



  <!-- commentable = Post.find(1)
  comments = commentable.comments.recent.limit(10).all

-->


