<div class="result_info">
  <%= page_entries_info @shops %>
  <%= sort_link(@q, :name, 'By Name', default_order: :desc) %>
  <%= sort_link(@q, :overall_average_cache, 'By Rating', default_order: :asc) %>
</div>

<%= render partial: 'shop_for_index', collection: @shops, as: :shop %>  

<%= paginate @shops %>