<div class="shop" style="border-bottom:1px solid black;margin-bottom:150px">
  <h1><%= link_to shop.name, shop_path(shop) %></h1>
  <div><%= rating_for shop, "overall", disable_after_rate: false, cancel_hint: 'Cancel your Rating' %></div>
  <% if shop.shop_image.detail.url %>
      <p class="url-image"><%= link_to image_tag(shop.shop_image.detail.url), shop.shop_image.url %></p>
    <% else %>
      <p><img src="http://lorempixel.com/gray/400/200/city?v=<%= "#{shop.id}" %>') no-repeat;background-size:cover;"></p>
  <% end %>
  <p><%= shop.description %></p>
  <p><strong>Email: </strong><%= shop.email %></p>
  <p><strong>Phone: </strong><%= shop.phone %></p>
  <p><strong>Street: </strong><%= shop.street %></p>
  <p><strong>City: </strong><%= shop.city %></p>
  <p><strong>Postcode: </strong><%= shop.postcode %></p>
  <p><strong>Country: </strong><%= shop.country %></p>
  <p><strong>Latitude: </strong><%= shop.latitude %></p>
  <p><strong>Longitude: </strong><%= shop.longitude %></p>
  <p><strong>Facilities: </strong><% shop.facilities.each do |facility| %>
    <%= facility.name %>
    <% end %>

 <img src="https://maps.googleapis.com/maps/api/staticmap?center=<%= shop.latitude %>,<%= shop.longitude %>&zoom=13&size=600x300&maptype=roadmap
 &markers=color:blue%7C<%= shop.latitude %>,<%= shop.longitude %>" alt="">
   
  <hr>
  
  <h2>Comments <span>(<%= pluralize(shop.comments.count, "comment") %>)</span></h2>
  <h4>Write a Comment:</h4>
  <%= form_for([shop, Comment.new]) do |f| %>
    <%= render partial: '/comments/form', locals: { f: f } %>
  <% end %>
  <%= render partial: '/comments/comment', collection: shop.comments %>
</div>
<%= link_to 'Edit Shop', edit_shop_path %>
<%= link_to 'Back to Shops', shops_path %>
