<h1>Shops#index</h1>

<div id="map-canvas"></div>

<%= link_to 'Back', shops_path  %>

<%= search_form_for @q, remote: true do |f| %>
<p>
  <%= f.text_field :name_cont %>
  <div id="facilities">
    <% @facilities.each do |facility| %>
      <%= check_box_tag('q[facilities_id_eq_any][]', facility.id, params[:q] && params[:q][:facilities_id_eq_any] && params[:q][:facilities_id_eq_any].include?(facility.id.to_s) ) %>
      <%= facility.name %>
    <% end %>
  </div>
</p>



<p>
  <%= f.submit %>  
</p>
<% end %>

<div id="shops_list">
  <%= render partial: 'shop_for_index', collection: @shops, as: :shop %>  
</div>
<%= paginate @shops %>

<script>
  $(function(){
    var markers_json = <%= raw @markers.to_json %>;

    var handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map-canvas'}}, function(){
      markers = handler.addMarkers(markers_json);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();

      $('#shop_search').on('ajax:success', function(event, data, status, xhr) {
        handler.removeMarkers(markers);
        markers = handler.addMarkers(data.markers);
        handler.fitMapToBounds();
      });
    });
  });
</script>
