<div class="hero">
  <video autoplay="" loop="" poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg" id="bgvid">
    <source src="/assets/coffee.mp4" type="video/mp4">
  </video>
  <div class="hero-inner">
      <div id="form_container">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true %>
          </div>

          <div class="field">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <div id="sign-submit">
            <%= f.submit "Log in" %>
          </div>
          <div id="devise-links"> 
            <%= render "devise/shared/links" %>
          </div> 
        <% end %>
      </div>
    </div>
  </div>
</div>
